.NotFound {
	overflow:hidden;
	img {
	    max-width: 80%;
	    margin-left: 50%;
	    transform: translateX(-50%);
	}
	.tips {
		color:#c5c5c7;

		@extend .text-center;
		@extend .normal-font;
	}
	a {
	    border: 1px solid $theme;
	    padding: 6px 42px;
	    display: inline-block;
	    margin-left: 50%;
	    font-size: 1.8rem;
	    transform: translateX(-50%);
	    color: $theme;
	    margin-top: 9px;
	    border-radius: 4px;
	}
}