
.preloader-indicator-modal {
    position:absolute;
    left: 50%;
    top: 50%;
    padding: 8px 10px;
    margin {
    	left:-25px;
    	top:-25px;
        &>p {
            margin-left:15px;
        }
    }
    background: $lightblack;
    z-index: 13500;
    border-radius: 5px;
    transform:translateX(-50%);
}