/*list*/
.list-block {
	ul {
		margin: 0px;
		padding: 0px;
		background-color: $white;
	}
	li {
		padding:12px 15px;
		border-bottom:1px solid $lightgray;
	}
	h4 {
	    margin-bottom: 15px;
	    @extend %one-line;
	}
	.right {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width:85%;
		padding-left:15px;
		top:2px;
	}
	p {
		margin:0px;
		&:last-child {
			line-height:24px;
		}
	}
}