/*markdown*/

$blockquoteBg:#777;
$blockquoteBorderColor:#ddd;
$preBg: $lightgrey;

.markdown-text {
	blockquote {
		margin:0px;
		padding: 0 15px;
	    border-left: 4px solid $blockquoteBorderColor;
	    color: $blockquoteBg;
	}
	img {
		max-width:100%;
	}
	pre {
	    padding: 15px;
	    line-height: 1.45;
	    overflow: auto;
	    border-radius: 3px;
	    background-color: $preBg;
	}
	p,h5,ul{
		line-height:27px;
	}
	p {
		word-break:break-all;
	}
	h1 {
	    padding-bottom: 0.3em;
	    line-height: 1.2;
	    border-bottom: 1px solid $lightgray;
	    font-size: $normalFont;
	}
	a {
		color:#4078c0;
		word-break:break-all;
	}
}