div.login-area {
	padding:50px 15px;
	input {
		width: 100%;
		border: none;
		border-bottom: 1px solid $theme;
		padding:12px 0px;
		box-sizing: border-box;
		font-size: 1.4rem;
	    border-radius: 0px;
	}
	a.button {
		padding: 10px 20px;
		margin-top: 25px;
	}
}